{% extends "admin/challenges/update.html" %}
{% block category %}
<div class="form-group">
    <label>
        Category<br>
        <small class="form-text text-muted">Challenge Category</small>
    </label>
    <input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
</div>
<div class="form-group">
    <label for="DockerImage" id='dockerimage_label'>Docker Image:
        <i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="The docker image for your challenge"></i>
    </label>
    <select id="dockerimage_select" name="docker_image" class="form-control" required></select>
</div>
<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="show-flag-input" name="show_flag_input" {% if challenge.show_flag_input %}checked{% endif %}>
    <label class="form-check-label" for="show-flag-input">
        Show flag submission input
    </label>
    <small class="form-text text-muted">
        Disable this to hide the flag input for this specific docker challenge.
    </small>
</div>
{% endblock %}
{% block footer %}
<script>
var DOCKER_IMAGE = '{{ challenge.docker_image }}';
</script>
{% endblock %}